In [ ]:
from scipy import stats
import pandas as pd
import numpy as np

Objective:
To investigate the restaurant owners' claim about the increase in weekly operating costs using hypothesis testing.

In [ ]:
#ˉxˉ = sample mean weekly cost (Rs. 3,050)
#	μ = theoretical mean weekly cost according to the cost model (W = $1,000 + $5X for X = 600 units) = $1000+$3000 = $4000
#	σ = 5*25 units = 125 units
#	n = sample size (25 restaurants)

# Null Hypothesis (H0): The sample mean is equal to the theoretical mean
#(H0):μ <= 4000

# Alternative Hypothesis (Ha): The sample mean is not equal to the theoretical mean
#(H0):μ > 4000

In [ ]:
t=(3050-4000)/(125/np.sqrt(25))
t

-38.0

In [ ]:
p=1-(stats.norm.cdf(-38,24)) # df= Degrees of freedom
p
#OR
#p=(stats.norm.cdf(38,24)) # df= Degrees of freedom
#p

1.0

In [ ]:
# conclusion : "Fail to reject the null hypothesis. There is not enough evidence to suggest that the operating costs have increased."